.btn-memo
{
    border: 0px;
    cursor: pointer;
    color: #000;
    font-family: verdana, arial;
    font-size: 14px;
    padding-left: 35px;
    /*width: auto !important;*/
    width: 31px !important;
    /*min-width: 215px !important;*/
}
.btn-memo-on
{
    background: url('https://memo.pole-emploi.fr/pic/importButton/memo-btn-active.svg') no-repeat !important;
}
.btn-memo-on:hover,
.btn-memo-on:focus
{
    background: url('https://memo.pole-emploi.fr/pic/importButton/memo-btn-hover.svg') no-repeat !important;
}
.btn-memo-off,
.btn-memo-off:hover
{
    background: url('https://memo.pole-emploi.fr/pic/importButton/memo-btn-inactive.svg') no-repeat !important;
    font-size: 12px;
    cursor: not-allowed;
}
.btn-memo-loading,
.btn-memo-loading:hover
{
    background: url('https://memo.pole-emploi.fr/pic/importButton/memo-btn.svg') no-repeat !important;
    cursor: wait;
}


.tooltip.top .tooltip-arrow
{
    border-width: 10px !important;
}

.tooltip.top
{
    margin-left: 4px;
    margin-top: 0px;
}