
#homeLandingFromImport
{
    font-weight: bold;
}

.landingTitle
{
    color: #32c5d2;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;    
}

.importLandingLogo
{
    height: 130px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.landingHeader
{
    color: #fff;
    background: #32c5d2;
    padding: 30px 40px;
    text-align: center;
    font-size: 16px;
}

#homeLandingFromImport table
{
    width: 100%;
    margin-bottom: 40px;
    
}

#homeLandingFromImport td
{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#homeLandingFromImport .btnImportLandingStart
{
    margin-bottom: 40px;
}