/* body */

body {
    color: #333;
    padding: 0 !important;
    margin: 0 !important;
    direction: ltr;
    font-size: 14px;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
.label, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",sans-serif;
}

/* bouton */

.dropdown-menu, .icon-btn, a {
    text-shadow: none;
}


a {
    color: #337ab7;
}
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.btn, .form-control {
    box-shadow: none !important;
}

.btn {
    outline: 0 !important;
}

.btn:hover {
    transition: all .3s;
}

a:active, a:focus, a:hover {
    outline: 0;
}
a:hover {
    cursor: pointer;
    color: #23527c;
}

.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}

.btn.green:not(.btn-outline) {

    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;

}

.btn.green:not(.btn-outline).active, .btn.green:not(.btn-outline):active, .btn.green:not(.btn-outline):hover, .open > .btn.green:not(.btn-outline).dropdown-toggle {
    color: #FFF;
    background-color: #26a1ab;
    border-color: #2499a3;
}


.btn.btn-outline.dark {
    border-color: #2f353b;
    color: #2f353b;
    background: 0 0;
}

.btn.btn-outline.dark.active, .btn.btn-outline.dark:active, .btn.btn-outline.dark:active:focus, .btn.btn-outline.dark:active:hover, .btn.btn-outline.dark:focus, .btn.btn-outline.dark:hover {
    border-color: #2f353b;
    color: #FFF;
    background-color: #2f353b;
}


/* badge */

.badge {
    font-size: 11px !important;
    font-weight: 300;
    height: 18px;
    color: #fff;
    padding: 3px 6px;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    text-shadow: none !important;
    text-align: center;
}


/* MENU */

[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^="fa-"]:not(.fa-stack), [class^="glyphicon-"], [class^="icon-"] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}

.dropdown-menu-v2 {
    top: 100%;
    right: 0;
    z-index: 1001;
    display: none;
    float: left;
    min-width: 225px;
    padding: 20px 0;
    margin: 25px 0 0;
    font-size: 13px;
    text-align: left;
    list-style: none;
    position: absolute;
    background: #242b31;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
.dropdown-menu-v2:before {
    top: -10px;
    right: 0;
    width: 0;
    height: 0;
    content: ' ';
    position: absolute;
    border-style: solid;
    display: inline-block;
    border-width: 0 0 15px 15px;
    border-color: transparent transparent #242b31 transparent; }
.dropdown-menu-v2 > li > a {
    clear: both;
    color: #606e7a;
    display: block;
    font-weight: 600;
    padding: 8px 20px;
    position: relative;
    white-space: nowrap;
    line-height: 1.42857143;
    text-transform: uppercase; }
.dropdown-menu-v2 > li > a:hover,
.dropdown-menu-v2 > li > a:focus {
    background: #21282e;
    text-decoration: none;
    color: #009dc7; }
.dropdown-menu-v2 .active > a,
.dropdown-menu-v2 .active > a:hover,
.dropdown-menu-v2 .active > a:focus,
.dropdown-menu-v2 .active > a,
.dropdown-menu-v2 .active > a:hover,
.dropdown-menu-v2 .active > a:focus,
.dropdown-menu-v2 .active > a,
.dropdown-menu-v2 .active > a:hover,
.dropdown-menu-v2 .active > a:focus {
    outline: 0;
    text-decoration: none;
    background-color: #21282e;
    color: #009dc7; }
.dropdown-menu-v2 .disabled > a,
.dropdown-menu-v2 .disabled > a:hover,
.dropdown-menu-v2 .disabled > a:focus,
.dropdown-menu-v2 .disabled > a,
.dropdown-menu-v2 .disabled > a:hover,
.dropdown-menu-v2 .disabled > a:focus,
.dropdown-menu-v2 .disabled > a,
.dropdown-menu-v2 .disabled > a:hover,
.dropdown-menu-v2 .disabled > a:focus {
    color: #009dc7; }
.dropdown-menu-v2 .disabled > a:hover,
.dropdown-menu-v2 .disabled > a:focus,
.dropdown-menu-v2 .disabled > a:hover,
.dropdown-menu-v2 .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none; }
.dropdown-menu-v2 .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background: #2e353c; }
.dropdown-menu-v2 .badge {
    top: 8px;
    right: 10px;
    position: absolute; }

.dropdown-menu-v2.pull-right {
    right: 0;
    left: auto; }

.open > .dropdown-menu-v2 {
    display: block; }

.pull-right > .dropdown-menu-v2 {
    right: 0;
    left: auto; }


/* element-step */

.mt-element-step .step-line .first .mt-step-title::before, .mt-element-step .step-line .last .mt-step-title::after {
    content: none;
}

.mt-element-step .step-line .mt-step-title::before {
    right: 50%;
}
.mt-element-step .step-line .mt-step-title::after {
    left: 50%;
}

.mt-element-step .step-line .mt-step-title::after, .mt-element-step .step-line .mt-step-title::before {
    content: '';
    height: 3px;
    width: 50%;
    position: absolute;
    background-color: #e5e5e5;
    top: 53px;
    z-index: 4;
}

.mt-element-step .step-line .mt-step-col {
    padding-top: 20px;
}

.mt-element-step .step-line .mt-step-col {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.mt-element-step .step-line .mt-step-number {
    font-size: 26px;
    border-radius: 50%;
    display: inline-block;
    margin: auto auto 5px;
    padding: 9px;
    border: 3px solid #e5e5e5;
    position: relative;
    z-index: 5;
    height: 60px;
    width: 60px;
    text-align: center;
}
.bg-white {
    background: #fff !important;
}

.bg-grey {
    background: #E5E5E5 !important;
}

.mt-element-step .step-default .active .mt-step-content, .mt-element-step .step-default .active .mt-step-title {
    color: #fff !important;
}

.mt-element-step .step-default .active .mt-step-number {
    color: #32c5d2 !important;
}

.mt-element-step .step-default .mt-step-col {
    text-align: center;
}

.font-grey-cascade {
    color: #95A5A6 !important;
}

.mt-element-step .step-default .mt-step-number {
    font-size: 26px;
    border-radius: 50% !important;
    display: inline-block;
    margin: auto auto 20px;
    padding: 3px 14px;
}
.font-grey {
    color: #E5E5E5 !important;
}

.mt-element-step .step-line .mt-step-title {
    font-size: 20px;
    font-weight: 400;
}

.mt-element-step .row {
    margin: 0;
}

.mt-element-step .step-default .active {
    background-color: #32c5d2 !important;
}



/* modal */
.modal-backdrop, .modal-backdrop.fade.in {
    background-color: #333 !important;
}
.modal-backdrop {
    border: 0;
    outline: 0;
}

/* form */

.control-label {
    margin-top: 1px;
    font-weight: 400;
}
.visible-ie9 {
    display: none;
}
.visible-ie8 {
    display: none;
}
label {
    font-weight: 400;
}