

.connectionPageLeftPane
{
    background-color: #0B2D3D;
    min-height: 750px;
    margin-bottom: 7px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../pic/logos/memo_inverse.png');
}


.connectionPageCenterPane
{
    padding-top: 100px;

}

.connectionPageCenterPane > div
{
    text-align:center;
    max-width: 800px;
    margin: auto;
    padding-right: 70px;
    padding-left: 70px;
}

.displayNone
{
    display: none;
}

.connectionPageCenterPane .boundary
{
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 30px;
    margin-top: 20px;
}

.blueButton
{
    border-radius: 5px !important;
    background-color: #5371F8;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 29px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    margin-top: 20px;
}

.blueButton:hover
{
    background-color: #3749E3;
}

.connectAction
{
    margin-top: 20px;
}

.connectionPageCenterPane input
{
    width: 90%;
    margin-bottom: 10px;
}

.formError
{
    margin-bottom: 15px;
    text-align: left;
    margin-left : 6%;
    color: rgb(169,68,66);
}


.forgottenSpinner
{
    font-size: 20px;
}

.accountEmail
{
    margin-top:30px;
    margin-bottom: 30px;
}

.accountLinkBlock
{
	margin-top: 10px;
}

.accountTxtBlock
{
	margin-top: 20px;
}

.link
{
	font-weight:bold;
	color:#5371F8 !important;
	text-decoration:none !important;
}

.txtBold
{
	font-weight:bold;
}

.accountTitle
{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.accountTitleBorder {
    border-top: 1px solid;
    padding: 0;
    padding-top : 20px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    float: none;
}


@media screen and (max-width:550px)
{
    .connectionPageCenterPane
    {
        padding: 15px 0;
    }

    .connectionPageCenterPane > div {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media screen and (min-width:551px) and (max-width:768px)
{
    .connectionPageCenterPane
    {
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .connectAction > div
    {
        margin-bottom: 20px;
    }

    .connectionPageCenterPane > div {
        padding-right: 30px;
        padding-left: 30px;
    }
 }



#cguCheck
{
    margin-right: 5px;
}

.passwordAdvice
{
    margin-top: 20px;
    text-align: justify;
}

.creationAccountBlocCguCheckbox label
{
    display:inline;
}