.memoSwitchContainer
{
    border-radius: 10px !important;
    background: #fff;
    padding:0;
    border : 1px solid #5371F8;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 150px;
}

.memoSwitchContainer.memoSwitchIsOff
{
    border : 1px solid #979797;
}

.memoSwitchContainer > div
{
    height: 100%;
    width: 50%;
    text-align: center;
    font-size: 17px;
    background: transparent;
    color: #979797;
    padding: 10px 20px;
    line-height: 20px;
}

.memoSwitchOn
{
    background: transparent;
}

.memoSwitchOff
{
    background: transparent;
}

.memoSwitchContainer > div.memoSwitchActive
{
    border-radius: 6px !important;
    color: #fff;
}

.memoSwitchContainer > div.memoSwitchActive.memoSwitchOn
{
    background-color: #5371F8;
}

.memoSwitchContainer > div.memoSwitchActive.memoSwitchOff
{
    background-color: #979797;
}