/anvil
/bounce
/bsmtp
/defer
/discard
/error
/ifmail
/lmtp
/local
/maildrop
/mailman
/proxymap
/proxywrite
/relay
/retry
/rewrite
/scache
/scalemail-backend
/slow
/smtp
/tlsmgr
/trace
/uucp
/verify
/virtual
