/userActivities_m.frm
/userActivities_m.ibd
/userCohorts.frm
/userCohorts.ibd
/userLogs.frm
/userLogs.ibd
/userROMEs.frm
/userROMEs.ibd
/users.frm
/users.ibd
/utilisateursAssidus.frm
/utilisateursAssidus.ibd
