



.metroRed
{
    color : rgb(228,63,65)
}

.metroGreen
{
    color : #E87E04;
}




@media screen and (max-width:520px) {
    .marginTop60
    {
        margin-top:105px;
    }
}

@media screen and (min-width:521px) {
    .marginTop60
    {
        margin-top:66px;
    }
}


.marginTop15
{
    margin-top:15px;
}

.noBorderButton
{
    -webkit-appearance: none !important;
    outline: none !important;
    border: 0 !important;
    background: transparent !important;
}



.login .logo
{
    margin : 0px;
}





.badge-done {
    background-color: #26C281;
    background-image: none;
}

/* habillage des cartes */

.card
{
    padding : 10px;
    border : 1px solid;
    margin-bottom : 10px;
    margin-left: 5px;
}

.listeCourte
{
    min-height: 50px;
}

.listeLongue
{
    min-height: 150px;
}


.cards .col-sm-2
{
    border-right: 1px solid black;
}






.rien
{
    border-color : white !important;
}



.cardText
{
    clear:both;
}

/* Metronic */

.login .content .has-error .form-control
{
    color :#e73d4a !important;
}

.login .content .input-group
{
    width: 100%;
}

.login .content .input-group-addon
{
    color : #8290a3;
    border : 0;
    background : #dde3ec;
}
.input-group-addon i {
	color : #364150;	
}

.login .content .has-error .input-group-addon i
{
    color : #e73d4a !important;
}

#fbStatus
{
    color : #4db3a5;
    margin-top: 30px;
}

.portlet
{
    padding : 0px;
    background-color: #f5f6fa;
    margin-bottom : 15px;
}

.portlet > .portlet-title {
    min-height : 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

/* marge du bouton de lien sur une offre pour laquelle on a pas de logo identifié */
.logoCandidature > a > i
{
    margin-top: 20px;
}

.logoCandidature > table
{
    float: right;
}

.logoCandidature .fa.fa-link
{
    margin-top: 3px;
}

.logoCandidature .fa.fa-link.fa-4x
{
    margin-top: 15px;
    margin-bottom : 8px;
}

.logoCandidature:hover
{
    cursor: pointer;
}


.logoCandidature:hover .fa
{
    color : #32c5d2;
}




.portlet-body a.btn
{
    /*font-size: 20px;*/
    margin-bottom: 3px;
    color : black;
}

.portlet-body a.btn:hover
{
    color : #67809f;
}


.portlet-body .societe
{
    font-size: 14px;
    opacity : 0.9;
    text-align: left;
    margin-bottom: 5px;
}

.portlet-body .lieu
{
    font-size: 14px;
    text-align: left;
    font-style : italic;
    margin-bottom: 5px;
}

.portlet-title a
{
    color : #fff;
    font-weight: bold;
}

.portlet-title a:hover
{
    color : #2c3e50;
}

.logoCandidature
{
    margin-top: 5px;
    margin-bottom : 5px;
    padding-right : 5px;
    text-align: right;
}

.logoCandidature img
{
    height: auto;
    max-width: 64px;
    width: 100%;
}


.candidature .portlet-title
{
    /*color : #000;*/
    background-color: #5C9BD1;
    /*font-weight: bold;*/
}

.relance .portlet-title
{
    /*color : #000;*/
    background-color: #26C281;
    /*font-weight: bold;*/
}

.entretien .portlet-title
{
    background-color: #E35B5A;
}

.brouillon .portlet-title
{
    background-color: #95a5a6;
}



/*
#noCandidatureStart
{
    text-align: center;
    margin-bottom: 250px;
    margin-top: 66px;
    padding-top: 100px;
}

#noCandidatureStart .boutonCandidature
{
    margin-bottom : 10px;
    width: 350px;
    border : 2px solid #e9edef;
    background : transparent;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
}*/


/*.boutonCandidature > .noCandidature
{
    font-size: 20px;
}*/



/*.boutonCandidature a,
.boutonCandidature a:focus,
.boutonCandidature a:visited,
.boutonCandidature a:active
{
    font-size: 24px;
    color: #e9edef;
}

.boutonCandidature a:hover
{
    color : #32c5d2;
}*/

#boardPage .badge
{
    font-size: 14px !important;
    font-weight: bold;
    height: 20px;
}

/*
#mdCreateCandidatureForm h4,
#createCandidatureForm h4,
#mdCreateCandidatureForm .modal-header,
#mdRemoveCandidature .modal-header,
#mdRemoveCandidature h4,
#preferencePage h4
{
    font-weight: bold;
    color : #fff;
    background: #67809f;
}*/

#mdCreateCandidatureForm h4,
#createCandidatureForm h4,
#preferencePage h4
{
    padding: 15px;
}

#mdCreateCandidatureForm.brouillon h4,
#createCandidatureForm.brouillon h4,
.brouillon #etatDropdownButton,
#mdCreateCandidatureForm.brouillon .modal-header
{
    background-color : #95a5a6;
}
#mdCreateCandidatureForm.candidature h4,
.candidature #etatDropdownButton,
#createCandidatureForm.candidature h4,
#mdCreateCandidatureForm.candidature .modal-header
{
    background-color : #67809f;
}
#mdCreateCandidatureForm.relance h4,
.relance #etatDropdownButton,
#createCandidatureForm.relance h4,
#mdCreateCandidatureForm.relance .modal-header
{
    background-color : #3faba4;
}
#mdCreateCandidatureForm.entretien h4,
.entretien #etatDropdownButton,
#createCandidatureForm.entretien h4,
#mdCreateCandidatureForm.entretien .modal-header
{
    background-color : #d05454;
}

#createCandidatureForm .modal-footer
{
    text-align: center;
    margin-top: 10px;

}



#mdCreateCandidatureForm .close:hover,
#mdCreateCandidatureForm .close:active,
#mdCreateCandidatureForm .close:focus,
#mdCreateCandidatureForm .close,
#mdCreateCandidatureForm button.close
{
    color : #fff;
}

#mdCreateCandidatureForm h4 .btn-default
{
    color : #fff;
}


.logout
{
    font-size : 24px;
    color : white;
}

.logout:hover
{
    color : #32c5d2;
}



#userAndCandidatureState td,
#userAndCandidatureState th
{
    padding-left: 2px !important;
    padding-right : 2px !important;
    text-align : right !important;
}

.form-control-feedback
{
    top: 10px;
}

.modal-top
{
    border-top: 0;
    border-bottom : 1px solid #e5e5e5;
}

.listeLongue .portlet-body a.btn
{
    font-size: 14px;
    margin-bottom: 0;
    text-decoration: underline;
    text-transform: uppercase;
}

.listeLongue .portlet.light .portlet-body
{
    padding-top: 0px;
}

.listeLongue .btn-group-sm > .btn, .btn-sm
{
    line-height: 1;
}

/* pour empêcher l'effet de zoom sur Iphone */
input[type=text],
input[type=email],
input[type=password],
textarea,
select
{
    font-size: 16px !important;
}








#etatDropdownButton {
    font-size: 18px;
    font-weight: bold;
}

.mdPoste {
    font-weight: normal;
}

.modal-header .mdJour, .modal-header .mdJourEntretien {
    font-weight: bold;
}

.modal-title {
    font-weight: bold;
}

#shareLinkDiv {
    color : #FFF;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    word-break: break-all;
    width: 100%;
}

#shareLinkDiv > textarea {
    background : transparent;
    border: none;
    width: 100%;
    height: 150px;
}


.toast-top-right {
    top: 92px;
    right: 12px;
}



.btn.btn-outline.dark {
    background: #fff;
}

.bootstrap-switch
{
    border-radius : 5px !important;
}

.pageTitle {
    border-bottom: 2px solid #e6e6e6;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pageTitle > h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.tfStyle
{
    margin-bottom: 15px;
}


.btn.green
{
    background: #26A1AB !important;
    border-color: #26A1AB !important;
 }

.btn.green:hover
{
    background: #32c5d2 !important;
}


a {
    color: #26A1AB;
}
a:hover {
    color: #32c5d2;
}

#mdRelancerCandidature .modal-dialog {
    max-width: 650px;
    min-width: 300px;
    width: 75%;
}

#mdRemercierEntretien .modal-dialog {
    max-width: 650px;
    min-width: 350px;
    width: 75%;
}

.close.modalConseil {
	margin: 10px;
}


.modal-content {
    border-radius: 10px !important;
    border-color: black;
    border-width: 2px;
}

.modal-content.modalSupprimer {
	border-radius: 10px !important;
    border-color: red;
    border-width: 2px;
}
.modal-content.modalRelancerCandidature {
	border-radius: 10px !important;
    border-color: #F2AE43;
    border-width: 2px;
}
.modal-content.modalPostulerCandidature {
	border-radius: 10px !important;
    border-color: #999999;
    border-width: 2px;
}
.modal-content.modalPreparerEntretien, .modal-content.modalRemercierEntretien, .modal-content.modalRelancerEntretien {
	border-radius: 10px !important;
    border-color: #00C7FC;
    border-width: 2px;
}

.modal-header.modalConseil {
	margin-left: 15px;
	margin-right: 15px;
}
.modal-title.modalConseil {
	text-align: center;
}
.modal-footer.modalConseil {
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
}