
#parametresPage
{
    color: #fff;
}

#parametresForm .formBloc label {
	font-size: 20px;
}

#parametresForm .form-group label {
    color: #000;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 13px;
    text-align:justify;
}

.form-group button {
	border-radius: 5px !important;
    height: 40px;
}


#userInfo div
{
    font-size: 13px;
}

#userInfo div>label
{
    font-weight: bold;
    font-size: 13px !important;
    margin-right: 3px;
}

@media screen and (min-width:768px) {
	#extractTDBButton {
		margin-top: 15px;
	}
}