.row {
    margin-left: 0px;
    margin-right: 0px;
}
.ct-series-a .ct-bar {
    stroke-width: 30px;
}
.ct-label {
    font-size: 12px;
}
.ct-label.ct-label-above {
    font-size: 10px;
    fill: black;
}
.ct-label.ct-label-below {
    font-size: 10px;
    fill: black;
}


.ct-legend {
    position: relative;
    z-index: 10;
    list-style: none;
    text-align: center;
}
.ct-legend li {
    position: relative;
    padding-left: 23px;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    display: inline-block;
}
.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
}
.ct-legend li.inactive:before {
    background: transparent;
}
.ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}
.ct-legend.ct-legend-inside li{
    display: block;
    margin: 0;
}
.ct-legend .ct-series-0:before {
    background-color: #d70206;
    border-color: #d70206;
}
.ct-legend .ct-series-1:before {
    background-color: #f05b4f;
    border-color: #f05b4f;
}
#container {
    background-color: #e6e6e6;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
#page {
    background-color: white;
    width: 80%;
    margin: 0px auto;
}


/*****/

.ct-series-a  .ct-line,
.ct-series-a  .ct-point{
    stroke: #f4c63d !important;
}
.ct-series-0:before {
    background-color: #f4c63d !important;
    border-color: #f4c63d !important;
}

.ct-series-b  .ct-line,
.ct-series-b  .ct-point{
    stroke: darkgrey !important;
}
.ct-series-1:before {
    background-color: darkgrey !important;
    border-color: darkgrey !important;
}

.ct-series-c .ct-line,
.ct-series-c .ct-point
{
    stroke: blueviolet !important;
}
.ct-series-2:before
{
    background-color: blueviolet !important;
    border-color: blueviolet !important;
}

.ct-series-d .ct-line,
.ct-series-d .ct-point
{
    stroke: crimson !important;
}
.ct-series-3:before
{
    background-color: crimson !important;
    border-color: crimson !important;
}

.ct-chartNPS .ct-series-a .ct-line {
    stroke: green !important;
}
.ct-chartNPS .ct-point{
    stroke: green !important;
}
.ct-chartNPS .ct-bar {
    stroke: green !important;
}
.ct-chartNPS .axis
{
    stroke:dimgray !important;
    stroke-dasharray: none !important;
}

.ct-chartUsersEntretien .ct-series-a .ct-bar {
    stroke: #f4c63d;
}
.ct-chartUsersEntretien .ct-series-b .ct-bar {
    stroke: darkgrey;
}
.ct-chartUsersEntretien .ct-legend .ct-series-0:before {
    background-color: #f4c63d;
    border-color: #f4c63d;
}
.ct-chartUsersEntretien .ct-legend .ct-series-1:before {
    background-color: darkgrey;
    border-color: darkgrey;
}

.ct-chartUsersRetourEmploi .ct-series-a .ct-bar {
    stroke: blueviolet;
}
.ct-chartUsersRetourEmploi .ct-series-b .ct-bar {
    stroke: darkgrey;
}
.ct-chartUsersRetourEmploi .ct-legend .ct-series-0:before {
    background-color: blueviolet;
    border-color: blueviolet;
}
.ct-chartUsersRetourEmploi .ct-legend .ct-series-1:before {
    background-color: darkgrey;
    border-color: darkgrey;
}

.ct-chartUsersAssidus .ct-series-b .ct-bar {
    stroke: darkgrey;
}
.ct-chartUsersAssidus .ct-legend .ct-series-1:before {
    background-color: darkgrey;
    border-color: darkgrey;
}