
table
{
    width: 100%;
    height: 100%;
    margin-top: -2px;
}

td
{
    vertical-align: middle;
    height: 100%;
    padding: 0px;
}

td.imgCell
{
    max-width: 40px;
}

td.txtCell
{
    width: 100%;
}

/*.logoBoomerang
{
    height: 100%;
    min-height: 18px;
    max-height: 46px;

}*/

body{
    overflow: hidden;
    background: #fff;
    color: #000;
    font-family: Verdana, Arial;
    /*font-size: 6vw;
    /*margin: 2vw;*/
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.btn
{
    /*width: 100%;*/
    /*white-space: nowrap;*/
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.loading{
    cursor: not-allowed;
}

.error{
    cursor: not-allowed;
    background: #828282;
    color: #fff;
}

.success{
    cursor: not-allowed;
    background: #828282;
    color: #fff;
}