.timelineTitle {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    color : #000;
}

.eventRemove,
.eventEdit
{
    margin-top: 5px;
    color : #000;
}

.eventRemove:hover,
.eventEdit:hover
{
    color: #637b89;
    cursor: pointer;
}

.eventEdit {
    margin-right: 20px;
}

#pastTimeLine,
#futureTimeLine {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
}

#timeLine > h4 {
    margin-left: 10px;
    margin-right: 10px;
}


.todo-tasklist-item
{
    background-color: #fafafa;
}

.todo-tasklist-date i,
.todo-tasklist-date,
.todo-tasklist-item-text
{
    color: #000 !important;
}

#eventForm
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right : 10px;
}

#timeLine > h4
{
    margin-top: 0px;
}

#timeLine .autreDate
{
    text-align: center;
    margin-top: 20px;
}

.event
{
    border-top: 1px solid rgba(0,0,0,0.3);
    margin-top: 15px;
    padding-top: 10px;
}

.eventType
{
    font-weight : bold;
    float:left;
}

.eventTime
{
    float: right;
    font-weight: bold;
}

.eventType1,
.eventType5
{
    border-left : 4px solid #7ac943;
}

.eventType1 .todo-tasklist-item-title,
.eventType5 .todo-tasklist-item-title
{
    color : #7ac943;
}

.eventType3,
.eventType7
{
    border-left : 4px solid #00c7fc;
}

.eventType3 .todo-tasklist-item-title,
.eventType7 .todo-tasklist-item-title
{
    color : #00c7fc ;
}


.eventType2,
.eventType8
{
    border-left : 4px solid #000;
}

.eventType4
{
    border-left : 4px solid #f2ae43;
}
.eventType4 .todo-tasklist-item-title
{
    color : #f2ae43;
}

/* eventTypes : { 1 : "Je dois relancer", 2 : "Echange de mail", 3 : "Entretien", 4 : "J'ai postulé",
     5 : "J'ai relancé", 6 : "Archiver", 7 : "Rappel", 8 : "Note",   9 : "Maintenir actif", 10 : "J'ai préparé", 11 : "J'ai remercié"},*/



.eventType6,
.eventType9
{
    border-left : 4px solid #000;
}

.eventType10
{
    border-left : 4px solid #E87E04;
}

.eventType10 .todo-tasklist-item-title
{
    color : #00c7fc;
}

.eventType11
{
    border-left : 4px solid #00c7fc;
}

.eventType11 .todo-tasklist-item-title
{
    color : #00c7fc ;
}

.event > div {
    margin-top: 5px;
    padding-top: 5px;
    clear : both;
    width: 100%;
}

div .todo-tasklist-item:hover
{
    cursor: inherit;
    background-color: #fafafa;
}

