

#boardPage
{
    background-color : #E6E6E6;
    background-size : cover;
}


#mdNoCandidatureVideo  .modal-dialog
{
    color : #fff;
}


#mdNoCandidatureVideo  .modal-content
{
    background: #000;
}

#mdNoCandidatureVideo  h4
{
    text-align: center;
}

#mdNoCandidatureVideo .modal-body,
#mdNoCandidatureVideo .modal-footer
{
    text-align: center;
}

#mdNoCandidatureVideo .modal-header
{
    border-bottom: 0;
}


.mt-element-step .step-line .mt-step-col
{
    padding-top: 20px;
}

.mt-element-step .step-line .mt-step-number
{
    border-radius: 3px !important;
    font-size: 20px;
    width: 80%;
    border: 2px solid;
    height: auto;
}


.mt-step-title
{
    margin-bottom : 10px;
}
.mt-element-step .step-line .mt-step-title::after, .mt-element-step .step-line .mt-step-title::before
{
    top: 45px;
    background-color: #9FA4AF;
}

/*.brouillon
{
    color : #999999;
}
.badgeBrouillon
{
    background : #999999;
}

.candidature
{
    color : #F2AE43;
}
.badgeCandidature
{
    background : #F2AE43;
}

.relance
{
    color : #7AC943;
}
.badgeRelance
{
    background : #7AC943;
}

.entretien
{
    color : #00C7FC;
}
.badgeEntretien
{
    background : #00C7FC;
}*/
.badgePriorites
{
    background : red;
    position: static !important;
    margin-right:3px;
    
}

/*.portlet.candidature
{
    -webkit-box-shadow : inset 0px 0px 0px 3px #5C9BD1;
    -moz-box-shadow : inset 0px 0px 0px 3px #5C9BD1;
    box-shadow : inset 0px 0px 0px 3px #5C9BD1;
}
.portlet.relance
{
    -webkit-box-shadow : inset 0px 0px 0px 3px #26C281;
    -moz-box-shadow : inset 0px 0px 0px 3px #26C281;
    box-shadow : inset 0px 0px 0px 3px #26C281;
}
.portlet.brouillon
{
    -webkit-box-shadow : inset 0px 0px 0px 3px #95a5a6;
    -moz-box-shadow : inset 0px 0px 0px 3px #95a5a6;
    box-shadow : inset 0px 0px 0px 3px #95a5a6;
}
.portlet.entretien
{
    -webkit-box-shadow : inset 0px 0px 0px 3px #E35B5A;
    -moz-box-shadow : inset 0px 0px 0px 3px #E35B5A;
    box-shadow : inset 0px 0px 0px 3px #E35B5A;
}*/


#boardSpinner {
    margin-top: 120px;
    margin-bottom: 300px;
    color:#364150;
    font-size: 32px;
}

#boardSpinner > i {
    font-size: 48px;
    margin-top: 50px;
}

.archives #boardPage
{
    background: #6b787f;
}

.faitGlisser
{
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 16px;
    height:20px;
    color:#364150;
}

.faitGlisser span
{
    font-size: 20px;
    font-weight: bold;
}

.faitGlisserArc
{
    display: none;
}
.archives .faitGlisserArc
{
    display : inline;
}

.archives .faitGlisserTBB
{
    display : none;
}


.fa.fa-link.fa-4x
{
    margin-top: 15px;
}

.menuVignette
{
    border-top: 1px solid black;
    color: black;
    margin-left: -10px;
    margin-right: -5px;
}

.menuVignette>ul
{
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 0 !important
}

.menuVignette li {
    font-size: 13px;
    font-weight: bold;
    line-height: 32px;
    padding-left: 15px;
}

.menuVignette li:hover {
    color:white;
    background-color: #9FA4AF;
    cursor: pointer;
}

.glowAnimation {
    animation:pulse 1s infinite alternate;
}

@keyframes pulse {
    from {
        color : #000;
        font-size: 2em;
    }
    to {
        color: #00C7FC;
        font-size: 2.5em;
    }
}


@media screen and (max-width:800px) {

    #candidatureBoard,
    #boardSpinner,
    #parametresPage,
    #conseilsPage,
    #prioritesPage,
    #activitesPage,
    #createCandidatureForm,
    #connectionPage,
    #createAccountForm,
    #forgottenPasswordForm,
    #homePage {
        width: auto;
    }
}

/*Voir pour trouver des styles que IE*/

@media screen and (min-width:801px) {
    #candidatureBoard,
    #boardSpinner,
    #parametresPage,
    #conseilsPage,
    #activitesPage,
    #prioritesPage,
    #createCandidatureForm,
    #connectionPage,
    #createAccountForm,
    #forgottenPasswordForm,
    #homePage {
        width: 98vw;
    }
}


.candidatureSpinner
{
    text-align: center;
    font-size: 50px;
}

.cardTypeLogo
{
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#btDiscoverConseilReseau
{
    height: 55px;
}